.card{
    display: flex;
    flex-direction: column;
    border:2px solid green;
    height: 100px;
    padding: 5px;
}
.card_details{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    
}
.btn-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn-btn button{
    width:150px;
}